---
import Layout from "../../layouts/Layout.astro";
import SearchForm from "../../components/SearchForm.tsx";

const { countdownCode } = Astro.params;
---

<Layout title="Welcome to Astro.">
  <main class="flex flex-col container mx-auto h-full py-7">
    <SearchForm client:only="solid-js" countdownCode={countdownCode!} />
  </main>
</Layout>
