---
import Layout from '../layouts/Layout.astro';
import SearchForm from "../components/SearchForm.tsx";
---

<Layout title="Welcome to Astro.">
  <main class="flex flex-col container mx-auto h-full py-7">
		<h1 class="text-4xl font-bold text-center text-red-600 mb-4">better 100</h1>

		<SearchForm client:load />
	</main>
</Layout>


<!-- <script> -->
<!-- if (window.localStorage.getItem('voted')) { -->
<!-- 	window.location.href = '/tnx'; -->
<!-- } -->
<!-- </script> -->
<!---->
