---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Your vote has been cast.">
	<div class="flex flex-col justify-center items-center h-full">
		<h1 class="text-2xl mb-5">Thanks boi</h1>
		<p class="mb-4">Your votes have been cast</p>
		<img src="/hasby.jpg" style="max-width: 100%; max-height: 700px" >
		<p class="mt-1">Get ready from hasby</p>
	</div>
</Layout>
